*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma , Arial;
    background-color: #0D1117;
}
:root{
    --main-width : 4px;
    --main-color : #00ADB5;
}
.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}
.game-info{
    display: flex;
    color: #E6EDF3;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    font-weight: bold;
    color: #00E1A2 ;
    text-transform: capitalize;
}
.hangman-draw{
    flex: 1;
    background-color: #161B22;
    padding: 20px;
    height: 324px;
    border: 1px solid #30363D;
    border-radius: 10px;
    box-shadow: 0 0 10px #0d111745;
}
.hangman-draw.wrong-1 .the-draw {
    display: block;
}
.hangman-draw.wrong-2 .the-draw .the-stand {
    display: block;
}
.hangman-draw.wrong-3 .the-draw .the-hang {
    display: block;
}
.hangman-draw.wrong-4 .the-draw .the-rope {
    display: block;
}
.hangman-draw.wrong-5 .the-draw .the-man .head {
    display: block;
}
.hangman-draw.wrong-6 .the-draw .the-man .body {
    display: block;
}
.hangman-draw.wrong-7 .the-draw .the-man .hands {
    display: block;
}
.hangman-draw.wrong-8 .the-draw .the-man .legs {
    display: block;
}
.hangman-draw .the-draw{
    position: relative;
    width: 64px;
    height: 280px;
    margin: auto;
    border-bottom: var(--main-width) solid var(--main-color) ;
    left: -60px;
    display: none;
}
.hangman-draw .the-draw .the-stand{
    content: '';
    position: absolute;
    width: var(--main-width);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    display: none;
}
.hangman-draw .the-draw .the-hang{
    display: none;
}
.hangman-draw .the-draw .the-hang::before{
    content: '';
    position: absolute;
    width: 100px;
    height: var(--main-width);
    left: 31px;
    top: 15px;
    background-color: var(--main-color);
}
.hangman-draw .the-draw .the-hang::after{
    content: '';
    position: absolute;
    width: var(--main-width);
    height: 30px;
    left: 130px;
    top: 15px;
    background-color: var(--main-color);
}
.hangman-draw .the-draw .the-rope{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 4px dashed var(--main-color);
    top: 44px;
    left: 95px;
    display: none;
}
.hangman-draw .the-draw .the-man .head{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid var(--main-color);
    top: 55px;
    left: 105px;
    display: none;
}
.hangman-draw .the-draw .the-man .body{
    position: absolute;
    width: 4px;
    height: 110px;
    background-color: var(--main-color);
    top: 104px;
    left: 129px;
    display: none;
}
.hangman-draw .the-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-draw .the-man .hands::before,
.hangman-draw .the-draw .the-man .hands::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
    top: 140px;
}
.hangman-draw .the-draw .the-man .hands::before{
    left: 84px;
    transform: rotate(30deg);
}
.hangman-draw .the-draw .the-man .hands::after{
    left: 128px;
    transform: rotate(-30deg);
}
.hangman-draw .the-draw .the-man .legs{
    display: none;
}
.hangman-draw .the-draw .the-man .legs::before,
.hangman-draw .the-draw .the-man .legs::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
    top: 224px;
}
.hangman-draw .the-draw .the-man .legs::before{
    left: 84px;
    transform: rotate(-30deg);
}
.hangman-draw .the-draw .the-man .legs::after{
    left: 128px;
    transform: rotate(30deg);
}
.letters{
    flex: 1;
    text-align: center;
    padding: 15px;
}
.letters.finished{
    pointer-events: none;
}
.letters .text-letter{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #1F6FEB;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 12px;
    line-height: 55px;
    text-transform: uppercase;
    cursor: pointer;
}
.letters .text-letter:hover{
    background-color: #00C2FF;
    box-shadow: 0 0 10px #00C2FF;
}
.letters .text-letter.clicked{
    background-color: #FF4D6D;
    opacity: 0.2;
    pointer-events: none;
}
.letters-guess{
    min-height: 104px;
    background-color: #161B22;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #00ADB5;
}
.letters-guess span{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-bottom: 3px solid var(--main-color);
    background-color: #0D1117;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #00ADB5;
    color: #00E1A2;
    transition: 0.3s;
}
.letters-guess span.has-space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.has-space::before{
    content: '';
    background-color: var(--main-color);
    width: 20px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pup {
    background-color: #111827;
    color: #FFFFFF;
    font-size: 38px;
    padding: 100px 20px;
    width: 80%;
    left: 10%;
    top: 29%;
    text-align: center;
    border-radius: 12px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    position: fixed;
    z-index: 999;
    opacity: 0.9;
}
.sec{
    position: fixed;
    padding: 100px 20px;
    width: 80%;
    text-align: center;
    color: #FFFFFF;
    background-color: #111827;
    border-radius: 12px;
    left: 10%;
    top: 29%;
    font-size: 38px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    opacity: 0.9;
}
.font{
    color: #00E1A2;
    font-weight: bold;
}